<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cultozon.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FFE6A83D9407A6B95CB4ABD447253A39D7489D3E</string>
				<key>dateExpires</key>
				<string>24.05.2023</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFE6A83D9407A6B95CB4ABD447253A39D7489D3E</string>
						<key>dateExpires</key>
						<string>24.05.2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V365279H6B</string>
						<key>name</key>
						<string>Vladislav Ponomarev</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFE6A83D9407A6B95CB4ABD447253A39D7489D3E</string>
						<key>dateExpires</key>
						<string>24.05.2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V365279H6B</string>
						<key>name</key>
						<string>Vladislav Ponomarev</string>
					</dict>
					<key>versionNumber</key>
					<string>9.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFE6A83D9407A6B95CB4ABD447253A39D7489D3E</string>
						<key>dateExpires</key>
						<string>24.05.2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V365279H6B</string>
						<key>name</key>
						<string>Vladislav Ponomarev</string>
					</dict>
					<key>versionNumber</key>
					<string>9.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFE6A83D9407A6B95CB4ABD447253A39D7489D3E</string>
						<key>dateExpires</key>
						<string>24.05.2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V365279H6B</string>
						<key>name</key>
						<string>Vladislav Ponomarev</string>
					</dict>
					<key>versionNumber</key>
					<string>9.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFE6A83D9407A6B95CB4ABD447253A39D7489D3E</string>
						<key>dateExpires</key>
						<string>24.05.2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V365279H6B</string>
						<key>name</key>
						<string>Vladislav Ponomarev</string>
					</dict>
					<key>versionNumber</key>
					<string>9.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFE6A83D9407A6B95CB4ABD447253A39D7489D3E</string>
						<key>dateExpires</key>
						<string>24.05.2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V365279H6B</string>
						<key>name</key>
						<string>Vladislav Ponomarev</string>
					</dict>
					<key>versionNumber</key>
					<string>9.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFE6A83D9407A6B95CB4ABD447253A39D7489D3E</string>
						<key>dateExpires</key>
						<string>24.05.2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V365279H6B</string>
						<key>name</key>
						<string>Vladislav Ponomarev</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFE6A83D9407A6B95CB4ABD447253A39D7489D3E</string>
						<key>dateExpires</key>
						<string>24.05.2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V365279H6B</string>
						<key>name</key>
						<string>Vladislav Ponomarev</string>
					</dict>
					<key>versionNumber</key>
					<string>7.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFE6A83D9407A6B95CB4ABD447253A39D7489D3E</string>
						<key>dateExpires</key>
						<string>24.05.2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V365279H6B</string>
						<key>name</key>
						<string>Vladislav Ponomarev</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>V365279H6B.ru.cultozon.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:cultozon.ru</string>
					<string>webcredentials:cultozon.ru</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>V365279H6B</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Cultozon.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6aa01017-acb9-40e4-9481-1d22f1a3cb0d</string>
				<key>dateExpires</key>
				<string>24.05.2023</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: ru.cultozon.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>V365279H6B</string>
				<key>name</key>
				<string>Vladislav Ponomarev</string>
			</dict>
			<key>versionNumber</key>
			<string>1</string>
		</dict>
	</array>
</dict>
</plist>
